<div class="navbar navbar-dark bg-dark" >
  <%= link_to 'TestGuru Admin Panel', admin_tests_path, class: 'navbar-brand' %>

  <span class="navbar-text">
     Welcome, <b>
     <%=current_user.email %></b>
     Guru | <%= link_to 'Users Panel', root_path %> | 
     <%= link_to 'Gists', admin_gists_path %> |
     <%= link_to 'Badges', admin_badges_path %> |
     <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</div>
