<div class="row justify-content-center mt-3">
    <%= form_with model: [:admin, @test], local: true do |form| %>
      <div class="form-group">
        <%= render 'shared/errors', resource: @test %>
        <p>
          <%= form.label :title %> <br>
          <%= form.text_field :title, id: :test_title, class: 'form-control' %>
        </p><br>
        <p>
          <%= form.label :level %> <br>
          <%= form.number_field :level, id: :test_level, class: 'form-control' %>
        </p><br>
        <p>
          <%= form.label :category_id %><br>
          <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: 'form-control dropdown-menu' %>
        </p>
        
        <p>
          <%= form.label :timer %><br>
          <%= form.number_field :timer, id: :test_timer %>
        </p>        

        <p>
          <%= form.submit %>
        </p>
      </div>
    <% end %>
</div>
