<h1>Тест по: <%= @test.title %></h1> 
  
<p>
  <strong>Категория:</strong>
  <%= Category.find(@test.category_id).title%>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Автор:</strong>
  <%= User.find(@test.author_id).name%>
</p>

<%= link_to 'Редактировать', edit_test_path(@test) %> |
<%= link_to 'Все тесты', tests_path %><br>
<hr>
<h3>Таблица вопросов</h5>
<table>
  <tr>
    <th>Вопрос</th>
    <th colspan ="3">Действия</th>
  </tr>
  <%= render partial: "shared/question", collection: @test.questions %>
</table><br>
<%= link_to 'Создать вопрос', new_test_question_path(@test) %>
